In [24]:
import pandas as pd
import datetime
import pyodbc 
pyodbc.drivers()

['SQL Server',
 'ODBC Driver 17 for SQL Server',
 'MySQL ODBC 8.0 ANSI Driver',
 'MySQL ODBC 8.0 Unicode Driver',
 'SQL Server Native Client 11.0',
 'SQL Server Native Client RDA 11.0']

In [25]:
Server='LAPTOP-767CUQ3Q'
database = 'master'
username= '' 
password= ''
Trusted_connection = 'yes' 
connn = pyodbc.connect ('DRIVER={SQL Server Native Client 11.0};SERVER='+Server
                        +';DATABASE='+database+';UID='+username+';PWD='+password
                        +';TRUSTED_CONNECTION='+Trusted_connection)

In [ ]:
cursor = connn.cursor()
cursor.execute("SELECT * FROM hos_PostCode")
rows=cursor.fetchall()
for row in rows :
  print (row)
connn.commit()

In [ ]:
cursor= connn.cursor()
cursor.execute("insert into hos_PostCode (hos_postcode, hos_addres) values(?,?)" ,'TR5 777','wise street,seaSide')
rows=cursor.fetchall()
for row in cursor : 
    print(row)
    connn.commit()

In [ ]:
cursor = connn.cursor()
cursor.execute("SELECT * FROM hos_PostCode")
rows=cursor.fetchall()
for row in rows :
  print (row)
connn.commit()

In [ ]:
cursor= connn.cursor()
cursor.execute("insert into hos_PostCode (hos_postcode, hos_addres) values(?,?)" ,'YRQ 884','ALong road,eastcoast')
rows=cursor.fetchall()
for row in cursor : 
    print(row)
    connn.commit()

In [ ]:
cursor = connn.cursor()
cursor.execute("SELECT * FROM hos_PostCode")
rows=cursor.fetchall()
for row in rows :
  print (row)
connn.commit()

In [ ]:
cursor= connn.cursor()
cursor.execute("insert into hos_PostCode (hos_postcode, hos_addres) values(?,?)" ,'79F 654','Small street,westCoast')
rows=cursor.fetchall()
for row in cursor : 
    print(row)
    connn.commit()

In [ ]:
cursor = connn.cursor()
cursor.execute("SELECT * FROM hos_PostCode")
rows=cursor.fetchall()
for row in rows :
  print (row)
connn.commit()

In [172]:
cursor = connn.cursor()
cursor.execute("SELECT * FROM donor")
rows=cursor.fetchall()
for row in rows :
  print (row)
connn.commit()

(100, 'hamza', None, 5555555, 'hamza@gmail.com')
(456, 'sam', None, 1232123, 'sam@gmail.com')
(999, 'fatih', None, 1111300, 'fatih@gmail.com')

In [ ]:
cursor= connn.cursor()
cursor.execute("insert into donor (don_id, don_name,don_phone, don_email) values(?,?,?,?)", 456, 'sam', 1232123,'sam@gmail.com')
rows=cursor.fetchall()
for row in cursor : 
    print(row)
    connn.commit()

In [ ]:
cursor = connn.cursor()
cursor.execute("SELECT * FROM donor")
rows=cursor.fetchall()
for row in rows :
  print (row)
connn.commit()

In [164]:
cursor= connn.cursor()
cursor.execute("insert into donor (don_id, don_name,don_phone, don_email) values(?,?,?,?)", 999, 'fatih', 1111300,'fatih@gmail.com')
rows=cursor.fetchall()
for row in cursor : 
    print(row)
    connn.commit()

IntegrityError: ('23000', "[23000] [Microsoft][SQL Server Native Client 11.0][SQL Server]Violation of PRIMARY KEY constraint 'PK__donor__4C5C7F034F589C8E'. Cannot insert duplicate key in object 'dbo.donor'. The duplicate key value is (999). (2627) (SQLExecDirectW); [23000] [Microsoft][SQL Server Native Client 11.0][SQL Server]The statement has been terminated. (3621)")

In [165]:
cursor= connn.cursor()
cursor.execute("insert into donor (don_id, don_name,don_phone, don_email) values(?,?,?,?)", 100, 'hamza', 5555555,'hamza@gmail.com')
rows=cursor.fetchall()
for row in cursor : 
    print(row)
    connn.commit()

IntegrityError: ('23000', "[23000] [Microsoft][SQL Server Native Client 11.0][SQL Server]Violation of PRIMARY KEY constraint 'PK__donor__4C5C7F034F589C8E'. Cannot insert duplicate key in object 'dbo.donor'. The duplicate key value is (100). (2627) (SQLExecDirectW); [23000] [Microsoft][SQL Server Native Client 11.0][SQL Server]The statement has been terminated. (3621)")

In [166]:
cursor = connn.cursor()
cursor.execute("SELECT * FROM donor")
rows=cursor.fetchall()
for row in rows :
  print (row)
connn.commit()

(100, 'hamza', None, 5555555, 'hamza@gmail.com')
(456, 'sam', None, 1232123, 'sam@gmail.com')
(999, 'fatih', None, 1111300, 'fatih@gmail.com')

In [167]:
cursor = connn.cursor()
cursor.execute("SELECT * FROM hos_req")
rows=cursor.fetchall()
for row in rows :
  print (row)
connn.commit()

ProgrammingError: ('42S02', "[42S02] [Microsoft][SQL Server Native Client 11.0][SQL Server]Invalid object name 'hos_req'. (208) (SQLExecDirectW)")

In [179]:
cursor = connn.cursor()
cursor.execute("SELECT * FROM bloodDescription")
rows=cursor.fetchall()
for row in rows :
  print (row)
connn.commit()

('A', 'checked')
('AB', 'checked')
('B', 'checked')
('O', 'checked')

In [176]:
cursor= connn.cursor()
cursor.execute("insert into bloodDescription (bloodBag_group,bloodBag_description ) values(?,?)" ,'B','checked')
rows=cursor.fetchall()
for row in cursor : 
    print(row)
    connn.commit()

ProgrammingError: No results.  Previous SQL was not a query.

In [177]:
cursor= connn.cursor()
cursor.execute("insert into bloodDescription (bloodBag_group,bloodBag_description ) values(?,?)" ,'AB','checked')
rows=cursor.fetchall()
for row in cursor : 
    print(row)
    connn.commit()

ProgrammingError: No results.  Previous SQL was not a query.

In [178]:
cursor= connn.cursor()
cursor.execute("insert into bloodDescription (bloodBag_group,bloodBag_description ) values(?,?)" ,'O','checked')
rows=cursor.fetchall()
for row in cursor : 
    print(row)
    connn.commit()

ProgrammingError: No results.  Previous SQL was not a query.

In [180]:
cursor = connn.cursor()
cursor.execute("SELECT * FROM nurse")
rows=cursor.fetchall()
for row in rows :
  print (row)
connn.commit()

In [184]:
cursor = connn.cursor()
cursor.execute("SELECT * FROM hospital")
rows=cursor.fetchall()
for row in rows :
  print (row)
connn.commit()

In [185]:
cursor= connn.cursor()
cursor.execute("insert into hospital (hos_id,hos_name, hos_postcode, hos_website, hos_phone) values(?,?,?,?,?)" ,1, 'Reunion','BK7 849','union.com',1234563)
rows=cursor.fetchall()
for row in cursor : 
    print(row)
    connn.commit()

ProgrammingError: No results.  Previous SQL was not a query.

In [186]:
cursor= connn.cursor()
cursor.execute("insert into hospital (hos_id,hos_name, hos_postcode, hos_website, hos_phone) values(?,?,?,?,?)" ,2, 'laptop hospital','LO8 321','laptophosp.com',199732)

In [187]:
cursor = connn.cursor()
cursor.execute("SELECT * FROM hospital")
rows=cursor.fetchall()
for row in rows :
  print (row)
connn.commit()

(1, 'Reunion', 'BK7 849', 'union.com', 1234563)
(2, 'laptop hospital', 'LO8 321', 'laptophosp.com', 199732)

In [188]:
cursor= connn.cursor()
cursor.execute("insert into hospital (hos_id,hos_name, hos_postcode, hos_website, hos_phone) values(?,?,?,?,?)" ,3, 'bakirkoy hospital','LU6 555','bakirhosp.com',1234567)

In [189]:
cursor = connn.cursor()
cursor.execute("SELECT * FROM hospital")
rows=cursor.fetchall()
for row in rows :
  print (row)
connn.commit()

(1, 'Reunion', 'BK7 849', 'union.com', 1234563)
(2, 'laptop hospital', 'LO8 321', 'laptophosp.com', 199732)
(3, 'bakirkoy hospital', 'LU6 555', 'bakirhosp.com', 1234567)

In [190]:
cursor= connn.cursor()
cursor.execute("insert into nurse (nurse_id,nurse_name, nurse_shift,hos_id) values(?,?,?,?)" ,3, 'maya hassan','day shift',3)

In [191]:
cursor= connn.cursor()
cursor.execute("insert into nurse (nurse_id,nurse_name, nurse_shift,hos_id) values(?,?,?,?)" ,43, 'zayn ali','night shift',3)

In [192]:
cursor= connn.cursor()
cursor.execute("insert into nurse (nurse_id,nurse_name, nurse_shift,hos_id) values(?,?,?,?)" ,1, 'sofi lu','day shift',1)

In [193]:
cursor= connn.cursor()
cursor.execute("insert into nurse (nurse_id,nurse_name, nurse_shift,hos_id) values(?,?,?,?)" ,100, 'runi lan','night shift',2)

In [194]:
cursor= connn.cursor()
cursor.execute("insert into nurse (nurse_id,nurse_name, nurse_shift,hos_id) values(?,?,?,?)" ,28, 'angie kan','day shift',1)

In [195]:
cursor = connn.cursor()
cursor.execute("SELECT * FROM nurse")
rows=cursor.fetchall()
for row in rows :
  print (row)
connn.commit()

(1, 'sofi lu', 'day shift', 1)
(3, 'maya hassan', 'day shift', 3)
(28, 'angie kan', 'day shift', 1)
(43, 'zayn ali', 'night shift', 3)
(100, 'runi lan', 'night shift', 2)

In [207]:
now = datetime.datetime(2009, 5, 5)
cursor= connn.cursor()
cursor.execute("insert into request (req_id,req_date, req_num ,lab_id) values(?,?,?,?)" ,28, now,100,2)

In [208]:
now = datetime.datetime(2019, 5, 4)
cursor= connn.cursor()
cursor.execute("insert into request (req_id,req_date, req_num ,lab_id) values(?,?,?,?)" ,39, now,101,43)

In [209]:
now = datetime.datetime(2019, 6, 4)
cursor= connn.cursor()
cursor.execute("insert into request (req_id,req_date, req_num ,lab_id) values(?,?,?,?)" ,21, now,102,100)

In [210]:
cursor = connn.cursor()
cursor.execute("SELECT * FROM request")
rows=cursor.fetchall()
for row in rows :
  print (row)
connn.commit()

(21, datetime.date(2019, 6, 4), 102, 100)
(28, datetime.date(2009, 5, 5), 100, 2)
(39, datetime.date(2019, 5, 4), 101, 43)

In [211]:
cursor= connn.cursor()
cursor.execute("insert into receptionist (receptionist_id,receptionist_name, receptionist_shift ,hos_id) values(?,?,?,?)" ,21, 'Mariam ali','day shift',1)

In [212]:
cursor= connn.cursor()
cursor.execute("insert into receptionist (receptionist_id,receptionist_name, receptionist_shift ,hos_id) values(?,?,?,?)" ,22, 'Sami ali','day shift',1)

In [213]:
cursor= connn.cursor()
cursor.execute("insert into receptionist (receptionist_id,receptionist_name, receptionist_shift ,hos_id) values(?,?,?,?)" ,23, 'mohamed ali','night shift',1)

In [214]:
cursor= connn.cursor()
cursor.execute("insert into receptionist (receptionist_id,receptionist_name, receptionist_shift ,hos_id) values(?,?,?,?)" ,24, 'yunus un','day shift',2)

In [215]:
cursor= connn.cursor()
cursor.execute("insert into receptionist (receptionist_id,receptionist_name, receptionist_shift ,hos_id) values(?,?,?,?)" ,25, 'safi jo','night shift',2)

In [216]:
cursor= connn.cursor()
cursor.execute("insert into receptionist (receptionist_id,receptionist_name, receptionist_shift ,hos_id) values(?,?,?,?)" ,26, 'harry will','night shift',2)

In [217]:
cursor= connn.cursor()
cursor.execute("insert into receptionist (receptionist_id,receptionist_name, receptionist_shift ,hos_id) values(?,?,?,?)" ,27, 'jack wang','day shift',3)

In [218]:
cursor = connn.cursor()
cursor.execute("SELECT * FROM receptionist")
rows=cursor.fetchall()
for row in rows :
  print (row)
connn.commit()

(21, 'Mariam ali', 'day shift', 1)
(22, 'Sami ali', 'day shift', 1)
(23, 'mohamed ali', 'night shift', 1)
(24, 'yunus un', 'day shift', 2)
(25, 'safi jo', 'night shift', 2)
(26, 'harry will', 'night shift', 2)
(27, 'jack wang', 'day shift', 3)

In [219]:
cursor= connn.cursor()
cursor.execute("insert into hos_req (req_id , hos_id) values(?,?)" ,21, 1)

In [220]:
cursor= connn.cursor()
cursor.execute("insert into hos_req (req_id , hos_id) values(?,?)" ,28, 2)

In [221]:
cursor= connn.cursor()
cursor.execute("insert into hos_req (req_id , hos_id) values(?,?)" ,39, 3)

In [222]:
cursor = connn.cursor()
cursor.execute("SELECT * FROM hos_req")
rows=cursor.fetchall()
for row in rows :
  print (row)
connn.commit()

(21, 1)
(28, 2)
(39, 3)

In [223]:
cursor= connn.cursor()
cursor.execute("insert into patient(patient_id ,patient_name, patient_gender,patient_age,patient_bloodType,hos_id, nurse_id) values(?,?,?,?,?,?,?)" ,39, 'Holly bo', 'female', 23,'A',1,1)

In [224]:
cursor= connn.cursor()
cursor.execute("insert into patient(patient_id ,patient_name, patient_gender,patient_age,patient_bloodType,hos_id, nurse_id) values(?,?,?,?,?,?,?)" ,54, 'Gil filly', 'female', 43,'B',1,1)

In [225]:
cursor= connn.cursor()
cursor.execute("insert into patient(patient_id ,patient_name, patient_gender,patient_age,patient_bloodType,hos_id, nurse_id) values(?,?,?,?,?,?,?)" ,423, 'kareem salah', 'male', 14,'A',1,1)

In [226]:
cursor= connn.cursor()
cursor.execute("insert into patient(patient_id ,patient_name, patient_gender,patient_age,patient_bloodType,hos_id, nurse_id) values(?,?,?,?,?,?,?)" ,2, 'ahmed mo', 'male', 57,'O',3,3)

In [227]:
cursor= connn.cursor()
cursor.execute("insert into patient(patient_id ,patient_name, patient_gender,patient_age,patient_bloodType,hos_id, nurse_id) values(?,?,?,?,?,?,?)" ,763, 'lee wong', 'male', 67,'A',3,3)

In [228]:
cursor= connn.cursor()
cursor.execute("insert into patient(patient_id ,patient_name, patient_gender,patient_age,patient_bloodType,hos_id, nurse_id) values(?,?,?,?,?,?,?)" ,421, 'sumaya ahmed', 'female', 26,'A',1,28)

In [229]:
cursor= connn.cursor()
cursor.execute("insert into patient(patient_id ,patient_name, patient_gender,patient_age,patient_bloodType,hos_id, nurse_id) values(?,?,?,?,?,?,?)" ,11, 'abdi noor', 'male', 20,'B',2,100)

In [230]:
cursor= connn.cursor()
cursor.execute("insert into patient(patient_id ,patient_name, patient_gender,patient_age,patient_bloodType,hos_id, nurse_id) values(?,?,?,?,?,?,?)" ,112, 'faiza el', 'female', 30,'B',2,100)

In [231]:
cursor = connn.cursor()
cursor.execute("SELECT * FROM patient")
rows=cursor.fetchall()
for row in rows :
  print (row)
connn.commit()

(2, 'ahmed mo', 'male', 57, 'O', 3, 3)
(11, 'abdi noor', 'male', 20, 'B', 2, 100)
(39, 'Holly bo', 'female', 23, 'A', 1, 1)
(54, 'Gil filly', 'female', 43, 'B', 1, 1)
(112, 'faiza el', 'female', 30, 'B', 2, 100)
(421, 'sumaya ahmed', 'female', 26, 'A', 1, 28)
(423, 'kareem salah', 'male', 14, 'A', 1, 1)
(763, 'lee wong', 'male', 67, 'A', 3, 3)

In [234]:
cursor= connn.cursor()
cursor.execute("insert into stock (stock_id , stock_anount, bloodBag_group) values(?,?,?)" ,11107,300, 'A')
cursor.execute("insert into stock (stock_id , stock_anount, bloodBag_group) values(?,?,?)" ,11108,100, 'B')
cursor.execute("insert into stock (stock_id , stock_anount, bloodBag_group) values(?,?,?)" ,11109,150, 'O')
cursor.execute("insert into stock (stock_id , stock_anount, bloodBag_group) values(?,?,?)" ,11120,200, 'AB')

In [235]:
cursor = connn.cursor()
cursor.execute("SELECT * FROM stock")
rows=cursor.fetchall()
for row in rows :
  print (row)
connn.commit()

(11107, 300, 'A')
(11108, 100, 'B')
(11109, 150, 'O')
(11120, 200, 'AB')

In [238]:
cursor= connn.cursor()
cursor.execute("insert into bloodBank (bloodBank_id,bloodBank_name,bloodBank_phone,bloodBank_address,stock_id) values(?,?,?,?,?)", 12,'new BloodBank',1234532,'door 1,west street',11107)
cursor.execute("insert into bloodBank (bloodBank_id,bloodBank_name,bloodBank_phone,bloodBank_address,stock_id) values(?,?,?,?,?)", 14,'westside BloodBank',9090909,'door 23,upper street',11107)
cursor.execute("insert into bloodBank (bloodBank_id,bloodBank_name,bloodBank_phone,bloodBank_address,stock_id) values(?,?,?,?,?)", 193,'redrod BloodBank',11144111,'door 79, downtown',11108)

In [240]:
cursor = connn.cursor()
cursor.execute("SELECT * FROM bloodBank")
rows=cursor.fetchall()
for row in rows :
  print (row)
connn.commit()

(12, 'new BloodBank', 1234532, 'door 1,west street', 11107)
(14, 'westside BloodBank', 9090909, 'door 23,upper street', 11107)
(193, 'redrod BloodBank', 11144111, 'door 79, downtown', 11108)

In [243]:
now = datetime.datetime(2020, 1, 6)
now1 = datetime.datetime(2019, 1, 10)
now2 = datetime.datetime(2019, 1, 7)
now3 = datetime.datetime(2019, 1, 4)
now4 = datetime.datetime(2019, 1, 3)
now5 = datetime.datetime(2019, 2,12 )
cursor= connn.cursor()
cursor.execute("insert into bloodBags (bloodBag_id,bloodBag_group,bloodBag_Exp,bloodBank_id,lab_id) values(?,?,?,?,?)", 12,'A',now, 12 ,2)
cursor.execute("insert into bloodBags (bloodBag_id,bloodBag_group,bloodBag_Exp,bloodBank_id,lab_id) values(?,?,?,?,?)", 19,'A',now1, 12 ,43)
cursor.execute("insert into bloodBags (bloodBag_id,bloodBag_group,bloodBag_Exp,bloodBank_id,lab_id) values(?,?,?,?,?)", 342,'B',now2, 193 ,43)
cursor.execute("insert into bloodBags (bloodBag_id,bloodBag_group,bloodBag_Exp,bloodBank_id,lab_id) values(?,?,?,?,?)", 135,'B',now, 12 ,100)
cursor.execute("insert into bloodBags (bloodBag_id,bloodBag_group,bloodBag_Exp,bloodBank_id,lab_id) values(?,?,?,?,?)", 164,'A',now4, 14 ,100)
cursor.execute("insert into bloodBags (bloodBag_id,bloodBag_group,bloodBag_Exp,bloodBank_id,lab_id) values(?,?,?,?,?)", 11,'B',now3, 12 ,2)

In [244]:
cursor = connn.cursor()
cursor.execute("SELECT * FROM bloodBags")
rows=cursor.fetchall()
for row in rows :
  print (row)
connn.commit()

(11, 'B', datetime.date(2019, 1, 4), 12, 2)
(12, 'A', datetime.date(2020, 1, 6), 12, 2)
(19, 'A', datetime.date(2019, 1, 10), 12, 43)
(135, 'B', datetime.date(2020, 1, 6), 12, 100)
(164, 'A', datetime.date(2019, 1, 3), 14, 100)
(342, 'B', datetime.date(2019, 1, 7), 193, 43)

In [28]:
cursor = connn.cursor()
    cursor.execute("SELECT receptionist_name from receptionist where receptionist_shift = 'night shift'")
    rows = cursor.fetchall()

for row in rows :
  print (row)
connn.commit()

IndentationError: unexpected indent (<ipython-input-28-6e96dc756205>, line 3)

In [29]:
cursor = connn.cursor()
cursor.execute("SELECT bloodBag_Exp from bloodBags order by bloodBag_Exp ASC")
rows= cursor.fetchall()
for row in rows :
  print (row)

(datetime.date(2019, 1, 3), )
(datetime.date(2019, 1, 4), )
(datetime.date(2019, 1, 7), )
(datetime.date(2019, 1, 10), )
(datetime.date(2020, 1, 6), )
(datetime.date(2020, 1, 6), )

In [30]:
cursor = connn.cursor()
cursor.execute("SELECT count(*) + 5 as newReqNum from request ;")
rows= cursor.fetchall()
for row in rows :
  print (row)

(8, )

In [67]:
cursor = connn.cursor()
cursor.execute("SELECT patient_name , count(*) from patient GROUP BY patient_name HAVING AVG(patient_age) > 20")
rows= cursor.fetchall()
for row in rows :
  print (row)

('ahmed mo', 1)
('faiza el', 1)
('Gil filly', 1)
('Holly bo', 2)
('lee wong', 1)
('sumaya ahmed', 1)

In [32]:
cursor = connn.cursor()
cursor.execute("SELECT patient.patient_name , nurse.nurse_name from patient INNER JOIN nurse on nurse.nurse_id = patient.nurse_id;")
rows= cursor.fetchall()
for row in rows :
  print (row)

('ahmed mo', 'maya hassan')
('abdi noor', 'runi lan')
('Holly bo', 'sofi lu')
('Gil filly', 'sofi lu')
('Holly bo', 'sofi lu')
('faiza el', 'runi lan')
('sumaya ahmed', 'angie kan')
('kareem salah', 'sofi lu')
('lee wong', 'maya hassan')

In [34]:
cursor = connn.cursor()
cursor.execute("SELECT AVG(patient_age) AS avgFemale from patient where patient_gender = 'female'")
rows= cursor.fetchall()
for row in rows :
  print (row)

(29, )

In [35]:
cursor = connn.cursor()
cursor.execute("SELECT stock_id , SUM(stock_anount) as totalAmount from stock GROUP BY 	stock_id ORDER BY stock_id")
rows= cursor.fetchall()
for row in rows :
  print (row)

(11107, 300)
(11108, 100)
(11109, 150)
(11120, 200)

In [38]:
cursor = connn.cursor()
cursor.execute("select bloodbank_name from bloodBank where stock_id = (select stock_id from stock where bloodBag_group = 'A')")
rows= cursor.fetchall()
for row in rows :
  print (row)

('new BloodBank', )
('westside BloodBank', )

In [81]:
cursor = connn.cursor()
cursor.execute("select patient_name from patient where nurse_id = (select nurse_id from nurse where nurse_name = 'sofi lu')")
rows= cursor.fetchall()
for row in rows :
  print (row)

('Holly bo', )
('Gil filly', )
('Holly bo', )
('kareem salah', )

SyntaxError: invalid syntax (<ipython-input-42-e532468680ab>, line 1)

In [68]:
cursor = connn.cursor()
cursor.execute("SELECT * from receptionist where receptionist_shift = 'night shift' and receptionist_name LIKE  'A%'")
rows= cursor.fetchall()
for row in rows :
  print (row)

(30, 'ahmed hassan', 'night shift', 1)

In [80]:
cursor = connn.cursor()
cursor.execute("{CALL SelectAllname }")

ProgrammingError: ('42000', "[42000] [Microsoft][SQL Server Native Client 11.0][SQL Server]Procedure or function 'SelectAllname' expects parameter '@hosname', which was not supplied. (201) (SQLExecDirectW)")

In [78]:
cursor = connn.cursor()
cursor.execute("EXEC SelectAllname ",'Reunion')
rows= cursor.fetchall()
for row in rows :
  print (row)

ProgrammingError: ('42000', "[42000] [Microsoft][SQL Server Native Client 11.0][SQL Server]Incorrect syntax near '@P1'. (102) (SQLExecDirectW); [42000] [Microsoft][SQL Server Native Client 11.0][SQL Server]Statement(s) could not be prepared. (8180)")

In [55]:
cursor = connn.cursor()
cursor.execute("SELECT patient_name , patient_age from patient order by patient_age desc")
rows= cursor.fetchall()
for row in rows :
  print (row)

('lee wong', 67)
('ahmed mo', 57)
('Gil filly', 43)
('faiza el', 30)
('sumaya ahmed', 26)
('Holly bo', 23)
('Holly bo', 23)
('abdi noor', 20)
('kareem salah', 14)

In [56]:
cursor = connn.cursor()
cursor.execute("SELECT patient_name , patient_age , patient_gender from patient where patient_age > 40 AND patient_gender = 'female';")
rows= cursor.fetchall()
for row in rows :
  print (row)

('Gil filly', 43, 'female')

In [70]:
cursor = connn.cursor()
cursor.execute("SELECT patient_name , count(*) from patient GROUP BY patient_name HAVING AVG(patient_age) > 20")
rows= cursor.fetchall()
for row in rows :
  print (row)

('ahmed mo', 1)
('faiza el', 1)
('Gil filly', 1)
('Holly bo', 2)
('lee wong', 1)
('sumaya ahmed', 1)

In [58]:

cursor = connn.cursor()
cursor.execute("SELECT stock_id , SUM(stock_anount) as totalAmount from stock GROUP BY stock_id ORDER BY stock_id")
rows= cursor.fetchall()
for row in rows :
  print (row)

(11107, 300)
(11108, 100)
(11109, 150)
(11120, 200)

In [60]:

cursor = connn.cursor()
cursor.execute("SELECT stock_id , SUM(stock_anount) as totalAmount from stock GROUP BY stock_id ORDER BY stock_id ")
rows= cursor.fetchall()
for row in rows :
  print (row)

(11107, 300)
(11108, 100)
(11109, 150)
(11120, 200)

In [62]:
cursor = connn.cursor()
cursor.execute("SELECT * from patient where patient_bloodType in ('A','AB')")
rows= cursor.fetchall()
for row in rows :
  print (row)

(39, 'Holly bo', 'female', 23, 'A', 1, 1)
(66, 'Holly bo', 'female', 23, 'A', 1, 1)
(421, 'sumaya ahmed', 'female', 26, 'A', 1, 28)
(423, 'kareem salah', 'male', 14, 'A', 1, 1)
(763, 'lee wong', 'male', 67, 'A', 3, 3)

In [69]:
cursor = connn.cursor()
cursor.execute("SELECT nurse.nurse_name , hospital.hos_name from hospital INNER JOIN nurse on hospital.hos_id = nurse.hos_id")
rows= cursor.fetchall()
for row in rows :
  print (row)

('sofi lu', 'Reunion')
('maya hassan', 'bakirkoy hospital')
('angie kan', 'Reunion')
('zayn ali', 'bakirkoy hospital')
('runi lan', 'laptop hospital')